* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: #211919;
    color: #fff;
}

.header {
    padding: 10px;
    margin-bottom: 30px; 
    text-align: center;
    background-color: #4054F7;
}

.container {
    width: 80%;
    margin: auto;
}

.main {
    margin-bottom: 20px;
}

.grid {
    display: none;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.info {
    text-align: center;
}

#attempts, #message{
    margin: 10px;
    font-size: 20px;
}

.rules {
    background-color: #3C2525;
    margin: auto;
    max-width: 600px;
    padding: 10px;
}

.rules p {
    background-color: #6C2525;
    padding: 2px;
    margin: 2px;
}

.rules div {
    margin-bottom: 10px;
}

.btn-class {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    width: 100px;
    background-color: #211919;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border: none;
}

.btn:hover {
    background-color: #4054F7;
}


@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
    .menu {
        display: inline-block;
    }

    .menu img {
        width: 100px;
    }

    .main {
        display: block;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}