* {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: #211919;
    color: #fff;
}

.header {
    padding: 10px;
    margin-bottom: 30px; 
    text-align: center;
    background-color: #4054F7;
}

.container {
    width: 80%;
    margin: auto;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.info {
    text-align: center;
}

#attempts, #message{
    margin: 10px;
    font-size: 20px;
}

.rules {
    background-color: #3C2525;
    padding: 10px;
}